.env
# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/flutter_assets/
macos/Flutter/Flutter.framework/
macos/Flutter/flutter_assets/
web/assets/
web/packages/
web/favicon.png
web/index.html
web/manifest.json

# IDE specific
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.code-workspace

# macOS specific
.DS_Store